

/*Banner Edits */

#banner {
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.g6cwVXKZlAt7_bIyVl-HAwHaE7?pid=Api&h=220&P=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    font-size: 32px;
    margin: 0 auto;
}

.banner-title {
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    display: block;
}

/*Table Edits */

th {
    background-color: hsla(195, 100%, 50%, .7);
    color: white;
    text-align: center;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    font-weight: bold;
}
    
table, th, td {
    border: 1px solid #000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
}

td {
    text-align: center;
}

.table-tags, .attributes, .structure-elements, .directory, .structure-attributes {
    margin: 0 auto 35px;
    text-align: center;
    border-collapse: collapse;
    width: 600px;
}

.table-wrap {
  overflow-x: auto;
}

/*title and text edits*/

h2, h1, h4, p {
    text-align: center;
    font-family: Oswald, Merriweather;
}

/*Footer */

footer {
    text-align: center;
}
.bottom {
    margin: 0 auto;
    background-color: hsla(195, 100%, 50%, .7);
    padding: 2px;
    margin-top: 40px;
    color: white;
}

a {
    margin: 0 auto;
    font-style: italic;
    color: white;
}
/*
.btn:hover {
  color: orange;
  text-decoration: underline;
  font-size: 16px;
  border: 2px solid;

} */